<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Подключение блока с всякими кастомными мета-тегами -->
    {% block head %}

    {% endblock %}
</head>
<body>
<div style="background: rgb(255, 255, 255);" id="BaseApp" ng-app="BaseApp" ng-controller="BaseController">
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center border-bottom">
                <div class="col-4 pt-1">

                </div>
                <div class="col-4 text-center" style="height: 225px;">
                    <a class="blog-header-logo text-dark" href="{{ request.get_full_path }}"><img src="{% static "/images/logo (1).png" %}" alt="Logo" width="390" height="221"></a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-start align-self-end">
                    {% if user.is_authenticated or user.id %}
                        <a class="btn btn-sm btn-outline-danger"
                           href="{% url 'shop_card' user.id %}">Корзина(#{ get_card_items_count }#)</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'user_page' user.id %}">Профиль</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'auth_signout' %}">Выйти</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'auth_page' %}">Вход</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'auth_register' %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div id="navbar">
        <ul class="nav justify-content-around" style="padding-bottom: 15px">
            <li class="nav-item">
              <a class="nav-link active" style="color: gray; font-size: 20px; padding-left: 5px;" href="#">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: gray; font-size: 20px;" href="#">Мастер-классы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: gray; font-size: 20px;" href="#">Магазины</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: gray; font-size: 20px;" href="#">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: gray; font-size: 20px;" href="#">Помощь</a>
              </li>
          </ul>
        </div>
    </div>
</div>


<!-- Подключение блока с основным контентом -->
{% block content %}

{% endblock %}
<div style="background-color: white; padding-bottom: 25px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center" style="padding-top: 10px;">About Us</h3>
                <div>
                    <p class="text-center" style="padding-top: 10px; padding-bottom: 10px;">Apparently we had reached a great height
                        in the atmosphere, for the sky was a dead black, and the stars had ceased to
                        twinkle. By the same illusion which lifts</p>
                    <img src="https://handmade-shop.cmsmasters.net/wp-content/uploads/2016/12/payment.png"
                         alt="logo" width="237" height="30">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h5 style="text-align: center;">Useful Links</h5>
                <div style="text-align: center;">
                    <i class="fa fa-vcard  fa-2x"></i> <a href="https://handmade-shop.cmsmasters.net/about-me/" style="font-size: 15px;">About Us</a>
                </div>
                <div style="text-align: center;">
                    <i class="fa fa-user-circle fa-2x"></i> <a href="https://handmade-shop.cmsmasters.net/my-blog/" style="font-size: 15px; padding-left: 6px;">Blog</a>
                </div>
                <div style="text-align: center;">
                    <i class="fa fa-gift fa-2x"></i> <a href="https://handmade-shop.cmsmasters.net/shop-2/" style="font-size: 15px; padding-left: 11px;">Products</a>
                </div style="text-align: center;">
                <div style="text-align: center;">
                    <i class="fa fa-id-card fa-2x"></i> <a href="https://handmade-shop.cmsmasters.net/contact-us/" style="font-size: 15px;">Contacts</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h5 style="text-align: center;">Follow Us</h5>
                <p style="text-align: center;">
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> <a
                        href="https://www.facebook.com/profile.php?id=100010265324329"
                        style="font-size: 15px;">Facebook</a>
                </p>
                <p style="text-align: center;">
                    <i class="fa fa-instagram fa-2x"></i> <a
                        href="https://www.instagram.com/_sweety__peach_/?hl=ru"
                        style="font-size: 15px;">Instagram</a>
                </p>
                <p style="text-align: center;">
                    <i class="fa fa-pinterest fa-2x"></i> <a
                        href="https://www.pinterest.cl/optimistttt9/"
                        style="font-size: 15px;">Pinterest</a>
                </p>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
<!-- Подключение блока с скриптами -->
    <script>
    let BaseApp = angular.module('BaseApp',[]);

    BaseApp.config(['$interpolateProvider', function($interpolateProvider) {
        $interpolateProvider.startSymbol('#{');
        $interpolateProvider.endSymbol('}#');
    }]);

    BaseApp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    }]);

    BaseApp.controller('BaseController', ['$scope', 'requestService', function($scope, requestService) {
        $scope.get_card_items_count = '0';


        $scope.get_items_count = function () {
            requestService.get_items_count_ajax($scope.buy_data)
            .then(function(resp) {
                if (resp.status === 'success') {
                    $scope.get_card_items_count = resp.detail.card_products_count
                } else {
                    console.log('Ошибка при загрузке количества товаров в корзине')
                }
            });
        }

        $scope.get_items_count();
    }])

    BaseApp.factory('requestService', ['$http',  function($http, $q) {
        return {
            get_items_count_ajax: get_items_count_ajax,
        };

        function get_items_count_ajax(data) {
            let request = $http({
                method: 'post',
                url: '{% url 'get_card_items_count' %}'
            });
            return request.then(handleSuccess, handleError);
        }

        function handleSuccess(response) {
            return response.data;
        }

        function handleError(response) {
            if (!(angular.isObject(response) && angular.isObject(response.data) && response.data.message)) {
                return ($q.reject('An unknown error occurred.'));
            }
            return $q.reject(response.data.message);
        }

    }]);
</script>
{% block scripts %}

{% endblock %}
</body>
</html>