{% extends 'base_template.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="min-height: 400px;">
            <div class="col-12"><h2 class="text-center" style="font-weight: bold; margin: 30px 0;">Помощь</h2></div>
            <div class="col-12">
                <h4>Могу ли я размещать не свой товар, а друга\жены?</h4>
                <p>Конечно, но только с прямого согласия от лица-производителя.</p>
            </div>
            <div class="col-12">
                <h4>Кто может размещать товары на вашем сайте?</h4>
                <p>Кто угодно, да это действительно так просто, Вам нужно просто зарегистрироваться</p>
            </div>
            <div class="col-12">
                <h4>Какой контент можно размещать?</h4>
                <p>Любой контент не запрещенный законодательством Украины и находящийся в рамках темы сайта.</p>
            </div>
            <div class="col-12">
                <h4>Какой контент можно размещать?</h4>
                <p>Любой контент не запрещенный законодательством Украины и находящийся в рамках темы сайта.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}