{% extends 'base_template.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12" style="margin: 15px 0;">
                <a href="{% url 'blog' article.author.id %}" class="btn btn-dark">Назад к блогу</a>
            </div>

            <div class="col-md-8">
                <div class="content-grid">
                    <div class="content-grid-head" style="background-color: rgba(185, 185, 185, 0.308)">
                        <h3 style="color: black;">MASTER-CLASS</h3>
                        <h4>{{ article.created_at }}, Posted by: <a href="{% url 'user' article.author.id %}" style="color: black;">{{ article.author.full_name }}</a></h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="content-grid-single">
                        <h3 style="text-align: center; color: #000; border: 1px solid lightgray;  background-color: rgba(248,19,19,0.16)">{{ article.title }}</h3>
                        <div style="border: 1px solid lightgray; background-color:  rgba(255, 255, 255, 0.5);">
                        <p style="text-align: center;"><img src="{% static article.photo %}" alt="" class="col-12" style="padding: 10px; height: 350px; width: 300px; align-self:center;"></p>
                        <p style="color: #000; padding-bottom: 15px; padding-left: 10px; padding-right: 10px;";>{{ article.text }}</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="col-12">
                     <div class="col-12 col-md-4" style="margin-top: 10px; ">
                         <img src="{{ article.author.image_url }}" alt="Юзер лого" style="height: 25vh; width: 25vh;">
                     </div>
                     <p style="margin-top: 20px;">Автор статьи:</p>
                     <h3 style="margin-top: 20px;">{{ article.author.first_name }} {{ article.author.last_name }}</h3>
                     <br>
                     <p>Биография: <br>
                        {{ article.author.bio }}</p>
                     <br>
                     <p>Рейтинг: {{ article.author.rating }}</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}
