{% extends 'base_template.html' %}

{% load static %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Дата', 'Посещения'],
          ['20/04/2020',  1000],
          ['21/04/2020',  1170],
          ['22/04/2020',  660],
          ['23/04/2020',  1030]
        ]);

        var options = {
          title: 'График посещений',
          hAxis: {title: 'Дата',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
          width: 765,
          height: 500,
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        function drawChart() {
          var jsonData = $.ajax({
              type: "post",
              url: "{% url 'get_statistic' %}",
              dataType: "json",
              async: false
              }).responseText;

          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.DataTable(jsonData);

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
          chart.draw(data, {width: 400, height: 240});
        }

      }
    </script>
{% endblock %}

<!-- Подключение блока с основным контентом -->
{% block content %}
<div class="container" id="SecondAPP" ng-app="MyApplication" ng-controller="UserProfileController" ng-cloak>
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="col-12 col-md-3" style="border: 1px solid lightgray; background-color: rgba(207, 207, 207, 0.5); ">
            <p class="text-center" style="margin-top: 30px;">
                <img src="{% static user.image_url %}" alt="{{ user.full_name }}" height="225px" width="225px" style="border-radius: 200px; border: 1px solid silver;">
            </p>
            <strong><p class="text-center" style="margin-top: 20px; margin-bottom: 20px;">{{ user.full_name }}</p></strong>
            <div class="list-group" style="margin-bottom: 30px;">
                <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('profile'); load_profile();">Профиль</a>
                <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('settings')">Настройки</a>
                <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('purchases')">Покупки</a>
                <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('blog')">Блог</a>
                <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('shop')">Магазин</a>
                <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('forum')">Форум</a>
                {% if user.is_superuser %}
                    <a href="#" class="list-group-item list-group-item-action" ng-click="change_active_tab('get_statistic')">Статистика посещений</a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-9">
            <!-- Блок профиля -->
            <div class="container" ng-show="active_tab === 'profile'">
                <h3 class="text-center" style="border: 1px solid lightgray;  background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Профиль</h3>
                <div style="border: 1px solid lightgray; background-color:  rgba(207, 207, 207, 0.5); padding: 20px 0;">
                    <div class="container" style="min-height: 520px;">
                        <div class="col-12">
                            <p style="margin-bottom: 20px;">Полное имя: #{ profile_content.full_name }#</p>
                            <div class="form-group" >
                                <label for="first_name">Имя:</label>
                                <input type="text" id="first_name" ng-model="profile_content.first_name">
                            </div>

                            <div class="form-group">
                                <label for="last_name">Фамилия:</label>
                                <input type="text" id="last_name" ng-model="profile_content.last_name">
                            </div>

                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="text" id="email" ng-model="profile_content.email">
                            </div>

                            <div class="form-group">
                                <label for="bio_area">Биография: </label>
                                <textarea name="bio_area" id="bio_area" cols="110" rows="4" ng-model="profile_content.bio"></textarea>
                            </div>

                            <div class="btn btn-success">Сохранить</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Блок настроек -->
            <div class="container" ng-show="active_tab === 'settings'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Настройки</h3>
                <div class="container">
                    <div class="row" style="border: 1px solid lightgray; background-color: rgba(207, 207, 207, 0.5); padding: 10px 0;">
                        <h4 class="col-12" style="padding-bottom:10px;">Смена пароля</h4>
                        <div class="form-group col-12">
                            <label class="label" for="old_password">Старый пароль<span style="color: red;">*</span></label>
                            <input id="old_password" type="text" class="form-control" placeholder="Старый пароль" ng-model="settings_block.old_password">
                        </div>
                        <div class="form-group col-6">
                            <label class="label" for="new_password">Новый пароль<span style="color: red;">*</span></label>
                            <input id="new_password" type="text" class="form-control" placeholder="Новый пароль" ng-model="settings_block.new_password">
                        </div>
                        <div class="form-group col-6">
                            <label class="label" for="confirm_new_password">Подтверждение нового пароля<span style="color: red;">*</span></label>
                            <input id="confirm_new_password" type="text" class="form-control" placeholder="Подтверждение нового пароля" ng-model="settings_block.confirm_new_password">
                        </div>
                        <div class="col-12">
                            <div class="btn btn-primary" ng-click="change_password_form_submit(settings_block)">Сменить</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Блок Покупок -->
            <div class="container" ng-show="active_tab === 'purchases'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Покупки</h3>
            </div>


            <!-- Блок Магазина -->
            <div class="container" ng-show="active_tab === 'blog'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Блог</h3>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success pull-right" ng-click="change_active_tab('blog_add_article')">Добавить статью</button>
                    </div>
                    <div class="col-12" ng-repeat="article in articles">#{ article.title }#</div>
                </div>
            </div>

            <div class="container" ng-show="active_tab === 'blog_add_article'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Блог - Добавить статью</h3>
                <div class="row">
                    <div class="form-group col-12">
                        <label class="label" for="title">Заголовок<span style="color: red;">*</span></label>
                        <input id="title" type="text" class="form-control" placeholder="Заголовок" ng-model="article_new.title">
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="mc_text">Текст<span style="color: red;">*</span></label>
                        <textarea id="mc_text" type="text" class="form-control" placeholder="Текст" rows="10" ng-model="article_new.text"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="photo_file">Фото<span style="color: red;">*</span></label>
                        <input id="photo_file" type="file" class="form-control" placeholder="Фото" ng-model="article_new.photo">
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="video_file">Видео</label>
                        <input id="video_file" type="file" class="form-control" placeholder="Фото" ng-model="article_new.video">
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary" ng-click="change_password_form_submit(settings_block)">Добавить</div>
                    </div>
                </div>
            </div>


            <!-- Блок магазина -->
            <div class="container" ng-show="active_tab === 'shop'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Магазин</h3>
                <div class="row">
                    <div class="col-12">
                        <button ng-if="shop_exist" class="btn btn-success pull-right" ng-click="change_active_tab('shop_add_product')">Добавить товар</button>
                        <div class="row" ng-if="!shop_exist">
                            <div class="form-group col-12">
                                <label class="label" for="title">Название<span style="color: red;">*</span></label>
                                <input id="title" type="text" class="form-control" placeholder="Хендмейд" required ng-model="new_shop.name">
                            </div>
                            <div class="form-group col-12">
                                <label class="label" for="title">Описание<span style="color: red;">*</span></label>
                                <input id="title" type="text" class="form-control" placeholder="Мой прекрастный магазин" required ng-model="new_shop.description">
                            </div>
                            <div class="col-12">
                                <div class="btn btn-primary" ng-click="make_shop(new_shop)">Создать</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" ng-show="active_tab === 'shop_add_product'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Магазин - Добавить товар</h3>
                <div class="row">
                    <div class="form-group col-12">
                        <label class="label" for="title">Название<span style="color: red;">*</span></label>
                        <input id="title" type="text" class="form-control" placeholder="Заголовок" ng-model="new_product.name">
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="mc_text">Описание<span style="color: red;">*</span></label>
                        <textarea id="mc_text" type="text" class="form-control" placeholder="Текст" rows="10" ng-model="new_product.description"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="photo_file">Цена<span style="color: red;">*</span></label>
                        <input id="photo_file" type="text" class="form-control" placeholder="0.00" ng-model="new_product.new_price">
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="category">Категория<span style="color: red;">*</span></label>
                        <select id="category" ng-model="new_product.category_id">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label class="label" for="video_file">Фото</label>
                        <input id="video_file" type="file" class="form-control" placeholder="Фото" ng-model="new_product.photo">
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary" ng-click="change_password_form_submit(settings_block)">Добавить</div>
                    </div>
                </div>

            </div>

            <!-- Блок форума -->
            <div class="container" ng-show="active_tab === 'forum'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Форум</h3>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success pull-right" ng-click="change_active_tab('forum_add_question')">Добавить вопрос</button>
                        <button class="btn btn-success pull-right" ng-click="change_active_tab('forum_add_answer')">Добавить ответ</button>
                    </div>
                </div>
            </div>

            <div class="container" ng-show="active_tab === 'forum_add_question'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Форум - Добавить Вопрос</h3>
                <div class="row">
                    <div class="form-group col-12">
                        <label class="label" for="mc_text">Текст вопроса<span style="color: red;">*</span></label>
                        <textarea id="mc_text" type="text" class="form-control" placeholder="Текст" rows="10" ng-model="article_new.text"></textarea>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary" ng-click="change_password_form_submit(settings_block)">Добавить</div>
                    </div>
                </div>
            </div>
            <div class="container" ng-show="active_tab === 'forum_add_answer'">
                <h3 class="text-center" style="border: 1px solid lightgray; background-color: rgba(153, 153, 153, 0.5); padding: 10px 0;">Форум</h3>

                <div class="row">
                    <div class="col-12">
                        <div class="bg-white" style="border-radius: 4px; border: 1px solid grey;">
                            <div class="row" style="padding: 15px;">
                                <div class="col-3">
                                    Анна Бондаренко <br>
                                    user_2791020
                                </div>
                                <div class="col-9">
                                    <h4>Какую смолу выбрать для деревяных изделий?</h4>
                            <p>Какую смолу выбрать для деревяных изделий? Я хочу начать делать деревянные изделия и мне нужно знать какую смогу лучше и проще использовать,
                               подскажите не дорогую для обучения, заранее спасибо.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="bg-white" style="border-radius: 4px; border: 1px solid grey;">
                            <div class="row" style="padding: 15px;">
                                <div class="col-3">
                                    Виктор Ткачук <br>
                                    user_2791099
                                </div>
                                <div class="col-9">
                                    <p>Рекомендую брать вам самую дешевую, для обучения нет четкой разницы.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <label class="label" for="mc_text">Текст ответа<span style="color: red;">*</span></label>
                        <textarea id="mc_text" type="text" class="form-control" placeholder="Текст" rows="4" ng-model="article_new.text"></textarea>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary" ng-click="change_password_form_submit(settings_block)">Добавить</div>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
            <div class="container" ng-show="active_tab === 'get_statistic'">
                <div class="col-12 col-md-12">
                    <h1 class="text-center" style="margin: 35px 0;">График посещений пользователей</h1>
                </div>
                <div class="col-12">
                    <div>
                        <h4>Диапазон статистики</h4>
                        <br>
                        <label for="from_date">
                            От:
                            <input id="from_date" type="date">
                        </label>

                        <label for="to_date">
                            До:
                            <input id="to_date" type="date">
                        </label>
                            <button class="btn btn-primary">Применить</button>
                    </div>
                    <hr>
                    <!--Div that will hold the pie chart-->
                    <div id="chart_div"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<!-- Подключение блока с скриптами -->
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    let MyApplication = angular.module('MyApplication',[]);

    MyApplication.config(['$interpolateProvider', function($interpolateProvider) {
        $interpolateProvider.startSymbol('#{');
        $interpolateProvider.endSymbol('}#');
    }]);

    MyApplication.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    }]);

    MyApplication.controller('UserProfileController', ['$scope', 'requestService', function($scope, requestService) {
        $scope.active_tab = 'profile';

        $scope.profile_content = {};
        $scope.settings_block = [];
        $scope.articles = []

        $scope.product_category = 1;

        $scope.shop_exist = {{ shop_exist }};
        $scope.new_shop = {};
        $scope.new_product = {};



        $scope.make_shop = function(data) {
            requestService.make_shop(data)
            .then(function(resp) {
                if (resp.status === 'success') {
                    Swal.fire('Магазин успешно создан')
                    $scope.shop_exist = 1;
                } else {
                    Swal.fire('Произошла ошибка')
                }
            });
        }


        $scope.change_active_tab = function(tab) {
            $scope.active_tab = tab;
        }
        $scope.load_profile = function() {
            requestService.load_profile()
            .then(function(resp) {
                if (resp.status === 'success') {
                    $scope.profile_content = resp.detail;
                } else {

                }
            });
        }

        $scope.load_profile()

        $scope.change_password_form_submit = function (data) {
            if (!data.old_password || !data.new_password || !data.confirm_new_password) {
                Swal.fire('Проверьте форму ввода. Вы заполнили не все поля')
                return false;
            }

            if (data.old_password.length < 8|| data.new_password.length < 8 || data.confirm_new_password.length < 8) {
                Swal.fire('Пароли должны содержать 8 или больше символов.')
                return false;
            }

            if (data.new_password === data.confirm_new_password) {
                Swal.fire('Пароли не совпадают.')
                return false;
            }

            requestService.change_password(data)
            .then(function(resp) {
                if (resp.status === 'status') {
                    $scope.profile_content = resp.detail;
                } else {
                    Swal.fire('Ошибка');
                }
            });
        }
    }])

    MyApplication.factory('requestService', ['$http',  function($http, $q) {
        return {
            make_shop: make_shop,
            load_profile: load_profile,
            change_password: change_password,
        };


        function make_shop(data) {
            var request = $http({
                method: 'post',
                data: JSON.stringify(data),
                url: '{% url 'make_shop' %}'
            });
            return request.then(handleSuccess, handleError);
        }

        function change_password(data) {
            var request = $http({
                method: 'post',
                data: JSON.stringify(data),
                url: '/change_password/'
            });
            return request.then(handleSuccess, handleError);
        }

        function load_profile() {
            var request = $http({
                method: 'get',
                url: '/load_profile/'
            });
            return request.then(handleSuccess, handleError);
        }


        function handleSuccess(response) {
            return response.data;
        }

        function handleError(response) {
            if (!(angular.isObject(response) && angular.isObject(response.data) && response.data.message)) {
                return ($q.reject('An unknown error occurred.'));
            }
            return $q.reject(response.data.message);
        }

    }]);
    angular.bootstrap(document.getElementById("SecondAPP"), ['MyApplication']);
</script>
{% endblock %}