{% extends 'base_template.html' %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container" id="ShopCard" ng-app="MyApplication" ng-controller="ShopCardController">
        <div class="row">
            <div class="col-12 col-md-12" style="padding-top: 20px;">
                <div class="row">
                    <div class="col-12 col-md-12"><h2 class="text-center">Корзина</h2></div>
                    <br><br>
                    <br><br>
                    <div class="col-12 col-md-4">Название</div>
                    <div class="col-12 col-md-2">Цена</div>
                    <div class="col-12 col-md-2">Количество</div>
                    <div class="col-12 col-md-2">Общая цена</div>
                    <div class="col-12 col-md-2">Управление</div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                {% for product in card.products %}
                    <div class="row" style="margin-top: 10px;" id="product_{{ product.id }}">
                        <div class="col-12 col-md-4">
                            {{ product.name }}
                        </div>
                        <div class="col-12 col-md-2">{{ product.new_price }}грн.</div>
                        <div class="col-12 col-md-2">{{ product.count }}</div>
                        <div class="col-12 col-md-2">{{ product.full_price }}</div>
                        <div class="col-12 col-md-2"><button ng-click="deleteItem('{{ product.id }}')" class="btn btn-danger"><i class="fa fa-trash"></i></button></div>
                    </div>
                {% endfor %}

            </div>
            <br><br>
            <br><br>
            <div class="col-12 col-md-12">
                <div class="row" style="margin-left: auto;margin-right: auto; margin-bottom: 20px;">
                    <p style="margin-top: auto; margin-bottom: auto; margin-right: 30px;">Метод доставки: </p>
                    <div class="btn-group" data-toggle="buttons">
                        {% for method in delivery_methods %}
                            <label class="btn btn-outline-secondary">
                                <input
                                        type="radio"
                                        name="method_dev"
                                        value="{{ method.delivery_method.price }}"
                                        ng-model="method_dev"
                                        ng-change="calculate_amount()"
                                        id="{{ method.delivery_method.slug }}"> {{ method.delivery_method.name }} ({{ method.delivery_method.price }}грн.)
                            </label>
                        {% endfor %}
                    </div>
                </div>
           </div>
            <div class="col-12">
                <h2>Общая сумма: #{ total_amount }#,00</h2>
                <br>
                <button class="btn btn-lg btn-success" ng-click="payment_make()">Оформить заказ</button>
            </div>
            <br><br><br><br><br>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
    let MyApplication = angular.module('MyApplication',[]);

    MyApplication.config(['$interpolateProvider', function($interpolateProvider) {
        $interpolateProvider.startSymbol('#{');
        $interpolateProvider.endSymbol('}#');
    }]);

    MyApplication.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    }]);

    MyApplication.controller('ShopCardController', ['$scope', 'requestService', function($scope, requestService) {
        $scope.method_dev = ''
        $scope.products_amount = parseFloat('{{ card.total_amount }}')
        $scope.total_amount = parseFloat('{{ card.total_amount }}')
        $scope.products = []

        $scope.calculate_amount = function(){
            $scope.total_amount = parseFloat($scope.products_amount) + parseFloat($scope.method_dev)
        }

        $scope.payment_make = function(){
            requestService.payment_make($scope.method_dev)
            .then(function(resp) {
                if (resp.status === 'success') {
                    window.open(resp.detail, '_blank');
                } else {
                    Swal.fire('Ошибка');
                }
            });
        }

        $scope.deleteItem = function(id){
            requestService.delete_item({'card_item_id': id})
            .then(function(resp) {
                if (resp.status === 'success') {
                    document.getElementById('product_' + resp.detail).innerHTML = '';
                } else {
                    Swal.fire('Ошибка');
                }
            });
        }

        $scope.change_password_form_submit = function (data) {
            if (!data.old_password || !data.new_password || !data.confirm_new_password) {
                Swal.fire('Проверьте форму ввода. Вы заполнили не все поля')
                return false;
            }

            requestService.change_password(data)
            .then(function(resp) {
                if (resp.status === 'status') {
                    $scope.profile_content = resp.detail;
                } else {
                    Swal.fire('Ошибка');
                }
            });
        }
    }])

    MyApplication.factory('requestService', ['$http',  function($http, $q) {
        return {
            payment_make: payment_make,
            delete_item: delete_item,
        };


        function payment_make(delivery_method) {
            var request = $http({
                method: 'post',
                data: JSON.stringify({'delivery_method': delivery_method}),
                url: '{% url 'payment_make' %}'
            });
            return request.then(handleSuccess, handleError);
        }

        function delete_item(data) {
            var request = $http({
                method: 'delete',
                data: JSON.stringify(data),
                url: '{% url 'card_delete_item' %}'
            });
            return request.then(handleSuccess, handleError);
        }



        function handleSuccess(response) {
            return response.data;
        }

        function handleError(response) {
            if (!(angular.isObject(response) && angular.isObject(response.data) && response.data.message)) {
                return ($q.reject('An unknown error occurred.'));
            }
            return $q.reject(response.data.message);
        }

    }]);

    angular.bootstrap(document.getElementById("ShopCard"), ['MyApplication']);
</script>
{% endblock %}
